@media (max-width:1200px) {
    .primary-menu ul li a {
        padding: 0 22px;
    }

}
@media (max-width:992px) {
    .primary-menu ul li a {
        padding: 0 9px;
    }
}
@media (max-width:768px) {
    .header-logo {
        text-align: center;
    }
    .primary-menu ul li a {
        padding: 0 14px;
    }
    .banner {
        padding: 150px 0;
    }
    .banner-text h2 {
        padding: 8px 16px;
        font-size: 25px;
    }
    .banner-text h1 {
        padding: 10px 28px;
        font-size: 25px;
        margin-top: 19px;
        display: inline-block;
    }
    .footer p {
        margin-bottom: 0;
        font-size: 14px;
    }
    .footer a {
        font-size: 14px;
    }
}
@media (max-width:576px) {
    .primary-menu ul li a {
        padding: 0 11px;
    }
}
@media (max-width:500px) {
    .primary-menu ul li a {
        padding: 0 10px;
    }
    .banner {
        padding: 90px 0;
    }
    .banner-text h1 {
        padding: 10px 20px;
        font-size: 17px;
        margin-left: 5px;
        display: inline-block;
    }
    .banner-text h2 {
        padding: 10px 20px;
        font-size: 17px;
        margin-right: 5px;
    }
}